# Google OAuth 2.0 (email used is ibmacademy.aai@gmail.com == dev.infinitelearning@gmail.com)
# Accepted JavaScript Origin : https://lms-v2.infinitelearningstudent.id, http://localhost:3000
# Intended frontend URL : http://localhost:3000 (Development)
# Intended frontend URL : https://lms-v2.infinitelearningstudent.id (Production)
# Intended backend URL : http://localhost:7000 (Development)
# Intended backend URL : https://api-lms-v2.infinitelearningstudent.id (Production)
# Intended Google callback URL : http://localhost:7000/auth/google/callback (Development)
# Intended Google callback URL : https://api-lms-v2.infinitelearningstudent.id/auth/google/callback (Production)
# Intended R2 Storage Subdomain URL : https://media.lms-v2.my.id (Production)

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:7000/auth/google/callback

# Session
SESSION_SECRET=

# URLs
FRONTEND_URL=http://localhost:3000
FRONTEND_DASHBOARD_URL=http://localhost:3000/dashboard
BACKEND_URL=http://localhost:7000

# Database (PostgreSQL)
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# Server
PORT=7000

# Mail Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dev.infinitelearning@gmail.com
SMTP_PASS=
SMTP_FROM="Infinite Learning LMS <no-reply@infinitelearning.id>"
ENABLE_EMAIL_BLAST=true

# API Indonesia, untuk info hari libur nasional/tanggal merah
INDO_API_KEY=

# Cloudflare R2 Storage Configuration
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=lms-v2
R2_PUBLIC_DOMAIN=https://media.lms-v2.my.id